/* 主题与字体大小调节 */

html[data-font-size="small"] {
  font-size: 15px;
}

html[data-font-size="large"] {
  font-size: 17px;
}

body {
  color-scheme: dark;
}

[data-theme="light"] body {
  color-scheme: light;
}

